<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Register Form</title>
   {% load static %}
  <link rel="stylesheet" href="{% static "home/reset.min.css" %}">
  <link rel="stylesheet" href="{% static "home/style.css" %}">
  <link rel="stylesheet" href="{% static "home/style2.css" %}">
  <link rel="stylesheet" href="{% static "home/style3.css" %}">
  <link rel="stylesheet" href="{% static "home/style4.css" %}">
    <style>
.lol:link, .lol:visited {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #339966;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.lol:hover {background-color: #133926}

.lol:active {
  background-color: #b33300;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>

<body background="{% static "home/images/abc.png" %}">

<div class="container">
  <div class="info">
      <a class="lol" href="http://127.0.0.1:8000/"><b>IIT Guwahati</b></a>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="{% static "home/images/logo.png" %}" height="auto" width="auto" ></div>

  <form class="Register-form" id="fm" method="post" action="">
    {% csrf_token %}
    <!--<input type="text" placeholder="Full Name" name="faculty_name">-->
    <!--<input type="text" placeholder="Username" name="username">-->
    <!--<input type="email" placeholder="Email address" name="email">-->

    <!--<input list="browsers" name="department" placeholder="Department">-->
    <!--<datalist id="browsers">-->
    <!--<option value="Biosciences & Bioengineering">-->
    <!--<option value="Chemical Engineering">-->
    <!--<option value="Chemistry">-->
    <!--<option value="Civil Engineering">-->
    <!--<option value="Computer Science and Engineering">-->
    <!--<option value="Design">-->
    <!--<option value="Electronics & Electrical Engg.">-->
    <!--<option value="Humanities and Social Sciences">-->
    <!--<option value="Mathematics">-->
    <!--<option value="Mechanical Engineering">-->
    <!--<option value="Physics">-->
    <!--</datalist>-->

    <!--<input type="text" placeholder="Designation" name="designation">-->
    <!--<input type="text" placeholder="Room No." name="room">-->
    <!--<input type="number" placeholder="Contact No." name="contact">-->
    <!--<input type="password" placeholder="Password" name="password">-->
    <!--<input type="password" placeholder="Confirm password">-->
    <!--{{form.as_p}}-->
    <!--{{   form }}-->
      {% for error in form.non_field_errors %}
            <span class="text-danger small">{{ error }}</span>
        {% endfor %}
{% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>

        </div>
        <label class="control-label col-sm-2" >{{ field.label_tag }}</label>
        <div class="col-sm-10" >{{ field }}</div>
    </div>
{% endfor %}

    <!--<button type="submit" form="fm"> <a href="http://127.0.0.1:8000/"> Register </a> </button>-->
    <input type="submit" form="fm" style="background-color:red">
    <p class="message">Already registered? <a href="http://127.0.0.1:8000/login/">Sign In</a></p>
  </form>
</div>
<script src="{% static "home/log.js" %}"></script>
    <script src="{% static "home/index.js" %}"></script>



</body></html>

<!--<DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>edit</title>-->
<!--</head>-->
<!--<body>-->

<!--{% load staticfiles %}-->

<!--<div>-->
     <!--<form action="" method="post" style="">-->
            <!--{% csrf_token %}-->
            <!--{{ form.as_p }}-->
            <!--<input type="submit" value="SignIn">-->
     <!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->