{% extends 'fpagecse/base.html' %}
{% block head %}
{% endblock %}
{% block ab %}
{% load static %}
   <!---->
        {% endblock %}

{% block ad %}
   <br>
<div class="col-md-9 col-md-push-3 main-content">
<h2>Visiting Faculty</h2>
<ul>
    {% for field in faculty %}
    {% if field.department|make_list|slice:'0:4'|join:'' == department and field.designation == "Visiting Faculties" %}
    <li>
        <div class="row">
        <div class="col-md-3"><img src="{{ field.photo.url }}" class="img-responsive" align="right" ></div>
        <div class="col-md-9">
        <a href="/departments/facultypage/{{ field.user }}" style="text-transform: uppercase; font-size:120%;"><strong> {{ field.faculty_name }} {{field.last_name}}</strong></a><br>
       <strong> {{ field.designation }} ,
        {{ field.department }}</strong><br>
        Office: {{ field.room_no }}<br>
        Phone: {{ field.phone }}<br>
        E-mail: {{ field.email }}<br>
        </div>
        </div>

    </li>
    {% endif %}
    {% endfor %}
</ul>
</div>
{% endblock %}